@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.App {
  align-items: center;
  justify-content: center;
}

body {
  background-color: #c2e5f2;
}

.title h1 {
  color: black;
  text-align: center;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
}

form h3 {
  text-align: center;
}

form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.input-container {
  margin-bottom: 20px;
}

.btn-container {
  text-align: center;
  margin-bottom: 10px;
}

.btn-container button {
  background: #91e0f2;
  color: black;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.todo-container {
  width: 50%;
  margin: 0 auto;
}

.todo {
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  transition: transform .5s;
}

.todo:hover {
  transform: scale(1.05);
}

.add-item {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.todo input {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}

#i {
  font-size: 35px;
}

.button-complete {
  color: #95faa3;
  margin-right: 10px;
}

.button-edit {
  color: #56cfff;
  margin-right: 10px;
}

.button-delete {
  color: rgb(255, 122, 98);
}

@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}

input:focus,
button:focus {
  outline: none;
}

/* Error page */
.error-title {
  font-size: 10vw;
  text-align: center;
  margin-top: 10vh;
}

.error-sub-title {
  text-align: center;
  font-size: 2.5vw;
  opacity: .5;
}

.error-text {
  text-align: center;
  margin-top: 3vh;
  opacity: .8;
  font-size: 1vw;
}

.btn-container-error {
  text-align: center;
}
.btn-container-error button {
  background: #91e0f2;
  color: black;
  padding: 10px 20px;
  margin-top: 2vh;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}


/* Login Page */
.login-container {
  background-color: white;
  max-width: 25%;
  margin: 0 auto;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.email-login {
  padding-top: 5vh;
}

.email-login button {
  width: 75%;
  height: 7vh;
  background: green;
  font-size: .8vw;
  font-family: "Poppins", sans-serif;
}

.gmail-login {
  padding-top: 4vh;
}

.gmail-login button {
  width: 75%;
  height: 7vh;
  color: black;
  background: white;
  font-size: .9vw;
  font-style: bold;
  font-family: "Poppins", sans-serif;
}

.facebook-login {
  padding-top: 4vh;
}

.facebook-login button {
  width: 75%;
  height: 7vh;
  background: rgb(59, 89, 152);
  font-size: .8vw;
  font-style: bold;
  font-family: "Poppins", sans-serif;
}

.anon-login {
  padding: 3vh 0 2vh;
}